<!DOCTYPE html>
<html>
<head>
   <title> Car Fuel Expense Calculator </title>
   <style>
      table,
      td,
      th {
         border: 1px solid black;
      }
   </style>
</head>
<body>
   <h2> Calculate your fuel expenses </h2>
   <p> Click on the button to add the row to the table </p>
   <button id="btn" onclick="Add()"> Calculate </button>
   <br><br>
   <h3> Gas Cars </h3>
   <table id="myTable">
      <thead>
         <th> Car Register </th>
         <th> Distance (km) </th>
         <th> Refuel (l) </th>
         <th> Price (€) </th>
      </thead>
      <tbody>
         <tr>
            <td> <input type='text' id='Register'>  </td>
            <td> <input type='number' id='Distance'> </td>
            <td> <input type='number' id='Refuel'> </td>
            <td> <input type='number' id='Price'> </td>
         </tr>
      </tbody>
   </table>
</body>
<script>
   
   function Add() {
      // Get the table element in which you want to add row
      let table = document.getElementById("myTable");
   
      let Register = document.getElementById('Register').value;
      let Distance = document.getElementById('Distance').value;
      let Refuel = document.getElementById('Refuel').value;
      let Price = document.getElementById('Price').value;

      Distance = Distance / 100;
      Refuel = Refuel / Distance;
      Price = Price / Distance;

      // Create a row using the inserRow() method
      let row = table.insertRow(-1);
   
      
      let c1 = row.insertCell(0);
      let c2 = row.insertCell(1);
      let c3 = row.insertCell(2);
      let c4 = row.insertCell(3);
      
      // Add data to c1 and c2
      c1.innerText = Register;
      c2.innerText = 100;
      c3.innerText = Refuel.toFixed(2);
      c4.innerText = Price.toFixed(2);
    
      // Append row to table body
      table.appendChild(row);
      
      const Empty = Register.value.trim();
      const msgListItem = document.createElement('li');
      msgListItem.textContent = Empty;
      Register.value = '';
      
   }
</script>
</html>